body {
background-image: url("assets/burger-fond.jpg");
background-color: red;
background-size: cover;
margin-left: auto;
margin-right: auto;
align-content: center;
font-family: Montserrat;
}



#en-tete {
  border: solid 1px black;
  border-radius: 5px;
  font-size: 32;
  width: 200px;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin: 40px;
  background-color: orange;
}


#menu {
  justify-content: center;
  width: 50vw;
  background-color: rgb(255,255,255,0.7);
  border: 1px solid grey ;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}


.menuitem{
  padding: 10px;
  margin-top: 10px;
}
